#!node_modules/

#node_modules/*
#!node_modules/deck-of-cards/

#node_modules/deck-of-cards/*
#!node_modules/deck-of-cards/dist/*
#!node_modules/deck-of-cards/lib/*

node_modules/**
!node_modules/deck-of-cards/dist/*
!node_modules/deck-of-cards/lib/*

start-server
open-terminal