<h1>Login :)</h1>
<form action="/login" method="POST">
    <section>
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
    </section>
    <section>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </section>
    <button type="submit">Login</button>
</form>
<a href="/">Home</a>