<!--  A page that lists currently logged in players and has a start button to
    press when everyone is ready to start the game-->
<!DOCTYPE html>
<html>

<head>
    <title>Waiting Room</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="http://fonts.cdnfonts.com/css/pokemon-fire-red"> -->
    <script type="module" src="wait.js"></script>
</head>

<body>
    <h1>Waiting Room</h1>
    <div id="players">
        <h2>Players</h2>
        <ul id="player-list">
        </ul>
    </div>
    <div>
        <h2 id="start-message"></h2>
    </div>
    <div id="start">
        <button id="start-button">Start</button>
    </div>
</body>

</html>